html {
    min-height: 100%;
}

body {
    background-color: #eee;
}

::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #eee;
}

#nav {
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #4A90E2;
}

#nav-inner {
    clear: both;
    width: auto;
    background: transparent;
}

#nav-inner p {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: large;
}

.container .text-footer {
    margin-top: 20px;
}

.container .page .page-header {
    text-align: center;
    padding-bottom: 9px;
    margin: 20px 0 20px;
    border-bottom: 0;
}

.container .page .team-page-header {
    font-size: xx-large;
}

.container .page .content {
    margin: 0 auto;
    max-width: 480px;
    border-radius: 10px;
    border: 4px solid #4A90E2;
    background-color: white;
    padding: 20px;
}

#team-form #label-team-name {
    font-weight: normal !important;
}

#team-form label {
    display:inline-block;
}

#team-form input {
    display:inline-block;
}

#team-form #click {
    width: 100%;
    background: #4A90E2;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: x-large;
}

#team-form #click.push-right {
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-italic {
    font-style: italic;
}

#team-clicks {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

#team-clicks .block-click {
    display: inline-block;
    padding: 10px;
}

#team-clicks .block-middle {
    display: inline-block;
    padding: 40px;
}

#team-clicks .text-clicks {
    color: #4A90E2;
    font-weight: bold;
    font-size: xx-large;
}

.team-list .team-list-item {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.team-list .team-list-title {
    font-size: smaller;
    font-weight: bold;
    color: #B7B7B7;
}

.team-list .team-list-item.first {
    background-color: #DBE9F9;
}

.team-list .team-list-item.second {
    background-color: #ECF3FC;
}

.team-list .team-list-item.selected {
    font-size: xx-large;
    font-weight: bold;
    color: white;
    background-color: #4A90E2;
}

.push-left {
    padding-left: 10px;
}

.push-right {
    margin-right: -45px;
}

.team-list .team-list-item a:link {
    color: black;
}

.team-list .team-list-item a:visited {
    color: black;
}

.team-list .team-list-item. a:hover {
    color: black;
}

.team-list .team-list-item a:active {
    color: black;
}

.team-list .bottom {
    margin-top: 25px;
    padding-bottom: 10px;
}